<div id="title">
    <div>
        <p><%= @article.created_at.strftime('%Y/%m/%d') %></p>
        <h1><%=@article.title %></h1>
    </div>
</div>

<div id="article_wrap">

    <div id="content">
        <%= @article.content %>
    </div>
    <div id="sidebar">
      <h2>★PV数ランキング</h2>
        <ul>
          <% i = 0 %>
          <% @ranking_articles.each do |article| %>
            <li><%= link_to article.title, article %>
            <%= link_to article do %>
            <span>&nbsp;(<%= @scores[i] %>pv)</span>
            <% end %></li>
          <% i += 1 %>
          <% end %>
        </ul>
    </div>
    <div class="clear"></div>
</div>